doctype 5
html(lang="en")
  body
    div#container
      div#game
        div#waiting Esperando Jogadores
        div#status
        
        div#player_0.player.time0
          span.nick
          span.coup Jogada
          div.cards
            div.card(rel=0)
              img
            div.card(rel=1)
              img
            div.card(rel=2)
              img
            
        div#player_1.player.time1
          span.nick
          span.coup Jogada
          div.cards
            div.card(rel=0)
              img
            div.card(rel=1)
              img
            div.card(rel=2)
              img
            
        div#game_table
          div.cards
            div.card(rel=0)
              img
            div.card(rel=1)
              img
            div.card(rel=2)
              img
            div.card(rel=3)
              img
            
        div#player_3.player.time1
          span.nick
          span.coup Jogada
          div.cards
            div.card(rel=0)
              img
            div.card(rel=1)
              img
            div.card(rel=2)
              img
            
        div#player_2.player.time0
          span.nick
          span.coup Jogada
          div.cards
            div.card(rel=0)
              img
            div.card(rel=1)
              img
            div.card(rel=2)
              img
            
        
